html {
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Roboto", "Arial", serif;
  margin: 0;
  padding: 0;
  background-color: rgb(143, 129, 129);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  margin-top: 20px;
}

.haeder__heading {
  text-align: center;
  color: rgb(226, 219, 219);
  margin-bottom: 20px;
}

.books__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.book__item {
  min-width: 24%;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  height: 150px;
  padding: 20px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: rgb(253, 239, 239);
}

.book__item:nth-child(4n) {
  margin-right: 0;
}

.book__name, .book__name-wrapper {
  margin-bottom: 5px;
}

.book__about-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.book__buy {
  border: none;
  background: none;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid rgb(228, 178, 178)
}

